##############################
## Java
##############################
*/out
*.class
*.jar
*.war
*.ear

##############################
## IntelliJ
##############################
/out
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Mobile Tools for Java (J2ME)
##############################
.mtj.tmp/

##############################
## virtual machine crash logs
##############################
hs_err_pid*